
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.inlineBlock {
  display: inline-block;
}

.thirtyPercent {
  width: 30%;
}

.nlt {
	list-style-type:none;
}

.nlt.li {
	margin-bottom:10px;
}


